.white {
    text-align: center;
    font-size: 18px;
    padding-top: 300px;
    font-weight: bold;
    width: 60px;
    height: 400px;
    background: rgb(216, 211, 211);
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .black {
    width: 60px;
    height: 200px;
    background: black;
    margin-top: 0px;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
    
  }

  .green {
    text-align: center;
    font-size: 18px;
    padding-top: 300px;
    font-weight: bold;
    width: 60px;
    height: 400px;
    background: green;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .blackred {
    width: 60px;
    height: 200px;
    background: red;
    margin-top: 0px;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  .whitered {
    text-align: center;
    font-size: 18px;
    padding-top: 300px;
    font-weight: bold;
    width: 60px;
    height: 400px;
    background: red;
    margin-top: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  #piano {
    margin-bottom: 30px;
    width: 1056px;
  }
/* 
  #help {
    text-align: right;
  }

  #lessontext{
    
  } */

  .row {
    text-align: center;
    margin-right: 20px;
  }

  .greenText {
    color: green;
    text-align: center;
    font-size: 30px;
  }

  .redText {
    color: red;
    text-align: center;
    font-size: 30px;


  }

  #center {

    text-align: center;
  }

  body {
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  }
  .rightMargin{
    text-align: right;

  }
  .leftMargin{
    text-align: left;

  }

  #popper{
    text-align: right;
    cursor: pointer;
    margin: 1px;
    padding: 1px;
    width: 10px;
    margin-left: 425px;
  }

    #popper1{
    text-align: left;
    cursor: pointer;
    margin: 1px;
    padding: 1px;
    width: 10px;
  }

  #pop{
    display              : none;
    position             : relative;
    padding              : 5px;
    background           : #3AB9AE;
    border               : 1px solid #A2ADBC;
    /* -moz-border-radius   : 20px; */
    /* -webkit-border-radius: 20px; */
    margin               : 0px;
    /* -webkit-box-shadow   : 0px 0px 5px 0px rgba(164, 164, 164, 1); */
    /* box-shadow           : 0px 0px 5px 0px rgba(164, 164, 164, 1); */
}

#hint{
    display              : none;
    position             : relative;
    padding              : 5px;
    background           : #3AB9AE;
    border               : 1px solid #A2ADBC;
    /* -moz-border-radius   : 20px; */
    /* -webkit-border-radius: 20px; */
    margin               : 0px;
    /* -webkit-box-shadow   : 0px 0px 5px 0px rgba(164, 164, 164, 1); */
    /* box-shadow           : 0px 0px 5px 0px rgba(164, 164, 164, 1); */
}

