{% extends "layout.html" %}

{% block content %}
<script type = "text/javascript">
        $(document).ready(function(){
            $("#practice_button").click(function(){
                window.location.href='/learn/1'
            })
            $("#home_button").click(function(){
                window.location.href='/'
            })
        })
        let score = {{score|tojson}} 
</script>

<body>
    <br>
    <div class = "title">
        <h1 >Congratulations on finishing the quiz!</h1>
    </div> 
    <br><br>
    <div id="final_score">FINAL SCORE: 
        <p id="score_number">{{score}}/12</p>
    </div>

    <div class = 'row'>
        <div class = col-6>
            <div><button class = 'bg-primary endLearn' id = 'practice_button'>More practice</button></div>
        </div>
        <div class = col-6>
            <div><button class = 'endLearn bg-primary' id = 'home_button'>Home</button></div>
        </div>
        
    </div> 
    
</body>


{% endblock %}