{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>
<script type = "text/javascript">
        $(document).ready(function(){
            $("#start").click(function(){
                window.location.href='/learn/1'
            });
        });
    </script>
<body>
    <div class = 'row'>
        <div class = "col-12 title ">
            <br>
            <h1 id = "center">Piano for Programmers</h1>
        </div>
    </div>
    <br>
    <div class = 'row'>
        <div class = col-12>
            <button class = "bg-primary startbutton" id = 'start'>Click Here to Begin </button>
        </div>
    </div>
    <br>
    <br>
    <!-- <div id='piano' class='row'>
        <button id ='C' class="white key">C<br><br>&ltA&gt</button>
        <button id ='Cs' class="black key">C#<br><br>&ltW&gt</button>
        <button id ='D' class="white key">D<br><br>&ltS&gt</button>
        <button id ='Ds' class="black key">D#<br><br>&ltE&gt</button>
        <button id = 'E' class="white key">E<br><br>&ltD&gt</button>
        <button id = 'F' class="white key">F<br><br>&ltF&gt</button>
        <button id ='Fs' class="black key">F#<br><br>&ltT&gt</button>
        <button id = 'G'class="white key">G<br><br>&ltG&gt</button>
        <button id ='Gs' class="black key">G#<br><br>&ltY&gt</button>
        <button id = 'A'class="white key">A<br><br>&ltH&gt</button>
        <button id ='As' class="black key">A#<br><br>&ltU&gt</button>
        <button id = 'B' class="white key">B<br><br>&ltJ&gt</button>
        <button id = 'highC'class="white key">C<br><br>&ltK&gt</button>
        <button id ='highC#' class="black key">C#<br><br>&ltO&gt</button>
        <button id = 'highD' class="white key">D<br><br>&ltL&gt</button>
        <button id = 'highDs' class="black key">D#<br><br>&ltP&gt</button>
    </div> -->
    
    <div id='piano' class='row'>
        <button id ='C5' class="white key">C<br><br><div class='kb-ref'>&ltA&gt</div></button>
        <button id ='Db5' class="black key">C#<br><br><div class='kb-ref'>&ltW&gt</div></button>
        <button id ='D5' class="white key">D<br><br><div class='kb-ref'>&ltS&gt</div></button>
        <button id ='Eb5' class="black key">D#<br><br><div class='kb-ref'>&ltE&gt</div></button>
        <button id = 'E5' class="white key">E<br><br><div class='kb-ref'>&ltD&gt</div></button>
        <button id = 'F5' class="white key">F<br><br><div class='kb-ref'>&ltF&gt</div></button>
        <button id ='Gb5' class="black key">F#<br><br><div class='kb-ref'>&ltT&gt</div></button>
        <button id = 'G5' class="white key">G<br><br><div class='kb-ref'>&ltG&gt</div></button>
        <button id ='Ab5' class="black key">G#<br><br><div class='kb-ref'>&ltY&gt</div></button>
        <button id = 'A5' class="white key">A<br><br><div class='kb-ref'>&ltH&gt</div></button>
        <button id ='Bb5' class="black key">A#<br><br><div class='kb-ref'>&ltU&gt</div></button>
        <button id = 'B5' class="white key">B<br><br><div class='kb-ref'>&ltJ&gt</div></button>
        <button id = 'C6'class="white key">C<br><br><div class='kb-ref'>&ltK&gt</div></button>
        <button id ='Db6' class="black key">C#<br><br><div class='kb-ref'>&ltO&gt</div></button>
        <button id = 'D6' class="white key">D<br><br><div class='kb-ref'>&ltL&gt</div></button>
        <button id = 'Eb6' class="black key">D#<br><br><div class='kb-ref'>&ltP&gt</div></button>
    </div>

</body>
{% endblock %}