{% extends "layout.html" %}

{% block content %}
    <script type = "text/javascript">
        let lesson = {{lesson|tojson}}
        $(document).ready(function(){
            $("#next_button").click(function(){
            if ("{{lesson.next_lesson}}"=="end"){
                window.location.href="/quiz/1/"

            }
            else{
                window.location.href='/learn/{{lesson.next_lesson}}'
            }
            })
        })
    </script>

    {{lesson.title}}<br>
    <br>
    {{lesson.text}}
    <div id='piano' class='row'>
        <div id ='C' class="white">C</div>
        <div id ='C#' class="black"></div>
        <div id ='D' class="white">D</div>
        <div id ='D#' class="black"></div>
        <div id = 'E' class="white">E</div>
        <div id = 'F' class="white">F</div>
        <div id ='F#' class="black"></div>
        <div id = 'G'class="white">G</div>
        <div id ='G#' class="black"></div>
        <div id = 'A'class="white">A</div>
        <div id ='A#' class="black"></div>
        <div id = 'highB' class="white">B</div>
        <div id = 'highC 'class="white">C</div>
        <div id ='highC#' class="black"></div>
        <div id = 'highD' class="white">D</div>
        <div id = 'highE' class="white">E</div>
    </div>
    <div><button id = "next_button">Next </button></div>


    {% endblock %}