{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        crossorigin="anonymous">
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script>
    lesson = {{lesson|tojson}} 
</script>

<div class = 'row'>
    <div class = "col-12 title ">
        <br>
        <div id = "title"></div>
           
    </div>
</div>
    <br>


    <div class = container>
        <div id='piano' class='row'>
            <button id ='C' class="white key">C<br><br>&ltA&gt</button>
            <button id ='Cs' class="black key">C#<br><br>&ltW&gt</button>
            <button id ='D' class="white key">D<br><br>&ltS&gt</button>
            <button id ='Ds' class="black key">D#<br><br>&ltE&gt</button>
            <button id = 'E' class="white key">E<br><br>&ltD&gt</button>
            <button id = 'F' class="white key">F<br><br>&ltF&gt</button>
            <button id ='Fs' class="black key">F#<br><br>&ltT&gt</button>
            <button id = 'G'class="white key">G<br><br>&ltG&gt</button>
            <button id ='Gs' class="black key">G#<br><br>&ltY&gt</button>
            <button id = 'A'class="white key">A<br><br>&ltH&gt</button>
            <button id ='As' class="black key">A#<br><br>&ltU&gt</button>
            <button id = 'B' class="white key">B<br><br>&ltJ&gt</button>
            <button id = 'highC'class="white key">C<br><br>&ltK&gt</button>
            <button id ='highC#' class="black key">C#<br><br>&ltO&gt</button>
            <button id = 'highD' class="white key">D<br><br>&ltL&gt</button>
            <button id = 'highE' class="white key">E<br><br>&lt&#59&gt</button>
        </div>
   

 
    <div class='row' id='prev/next'>
        <div class= "leftMargin col-md-6">
            <button class = 'buttonPrevNext' id = 'prev_button'> Previous </button>
        </div>
        <div class= "rightMargin col-md-6">
            <button class = 'buttonPrevNext' id = 'practice_button'> Practice </button>
        </div>
       
    </div>

    <br>
   
    <img id = "popper1" src="https://www.freeiconspng.com/uploads/help-icon-12.png" >
    <!-- <div class = helpButton id="popper1">Help</div> -->
  

    <div id="pop">
        <p>{{lesson.text}}</p>
    </div>
</div>



    {% endblock %}