{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'practice.js') }}"></script>
    <script type = "text/javascript">
        let lesson = {{lesson|tojson}}
       
    </script>

    <div class = "title" id="title"></div>
    <br>
   
    <div id ="comment" ></div>
    <!-- <div id ="correct" class = 'greenText'>That is correct! Proceed to Next Screen</div>
   
    <div id ="incorrect" class = 'redText'>That is incorrect! try again!</div> -->

   <div class = "container">
    <div id='piano' class='row'>
        <button id ='C' class="white key">C</button>
        <button id ='Cs' class="black key"></button>
        <button id ='D' class="white key">D</button>
        <button id ='Ds' class="black key"></button>
        <button id = 'E' class="white key">E</button>
        <button id = 'F' class="white key">F</button>
        <button id ='Fs' class="black key"></button>
        <button id = 'G'class="white key">G</button>
        <button id ='Gs' class="black key"></button>
        <button id = 'A'class="white key">A</button>
        <button id ='As' class="black key"></button>
        <button id = 'B' class="white key">B</button>
        <button id = 'highC'class="white key">C</button>
        <button id ='highC#' class="black key"></button>
        <button id = 'highD' class="white key">D</button>
        <button id = 'highE' class="white key">E</button>
    </div>
   



    <div class='row' id='prev/next'>
        <div class= "leftMargin col-md-6">
            <button class = 'buttonPrevNext' id = 'prev_button'> Previous </button>
        </div>
        <div class= "rightMargin  col-md-6">
            <button class = 'buttonPrevNext extraPadding' id = 'next_button'> Next </button>
        </div>
       
    </div>
    <br>

    <img id = "popper1" src="https://www.freeiconspng.com/uploads/help-icon-12.png" >
  
   
    <div id="pop">
        <p>{{lesson.text}}</p>
    </div>
</div>
    



    {% endblock %}