{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'practice.js') }}"></script>
    <script type = "text/javascript">
        let lesson = {{lesson|tojson}}
       
    </script>

    <div id="title"></div>
    <br>
    <div id ="lessontext"></div>
    <div id ="correct" class = 'greenText'></div>
    <div id ="incorrect" class = 'redText'></div>

    <audio id="buzzer" src="A.wav" type="audio/wav"> </audio>  

    <div id='piano' class='row'>
        <button id ='C' class="white key">C</button>
        <button id ='Cs' class="black key"></button>
        <button id ='D' class="white key">D</button>
        <button id ='D#' class="black key"></button>
        <button id = 'E' class="white key">E</button>
        <button id = 'F' class="white key">F</button>
        <button id ='Fs' class="black key"></button>
        <button id = 'G'class="white key">G</button>
        <button id ='G#' class="black key"></button>
        <button id = 'A'class="white key">A</button>
        <button id ='A#' class="black key"></button>
        <button id = 'B' class="white key">B</button>
        <button id = 'highC'class="white key">C</button>
        <button id ='highC#' class="black key"></button>
        <button id = 'highD' class="white key">D</button>
        <button id = 'highE' class="white key">E</button>
    </div>
    <div id="buttondiv"></div>


    {% endblock %}