{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
    <script type = "text/javascript">
        let question = {{question|tojson}}
        let score = {{score|tojson}}
        $(document).ready(function(){
            $("#next_button").click(function(){
            if ("{{question.next_question}}"=="end"){
                window.location.href='/endquiz'

            }
            else{
                window.location.href='/quiz/{{question.next_question}}'
            }
            })
        })
    </script>

    <div class = "title" id="quiztitle"></div>
    <br>
    <br>

    <div id ="comment" ></div>

    <div class = "container">
    <div id='piano' class='row'>
        <button id ='C' class="white key">C</button>
        <button id ='Cs' class="black key"></button>
        <button id ='D' class="white key">D</button>
        <button id ='Ds' class="black key"></button>
        <button id = 'E' class="white key">E</button>
        <button id = 'F' class="white key">F</button>
        <button id ='Fs' class="black key"></button>
        <button id = 'G'class="white key">G</button>
        <button id ='Gs' class="black key"></button>
        <button id = 'A'class="white key">A</button>
        <button id ='As' class="black key"></button>
        <button id = 'B' class="white key">B</button>
        <button id = 'highC'class="white key">C</button>
        <button id ='highC#' class="black key"></button>
        <button id = 'highD' class="white key">D</button>
        <button id = 'highE' class="white key">E</button>
    </div>
    <div id="score">Score: {{score}}</div>
    <div class ="row">
        <div class = "col-md-6">
            <div class = helpButton id="popper1">Hint</div></br>
            <div id="hint">
                <p>{{question.hint}}</p>
            </div>
        </div>
        <div class = "col-md-6">
            <div class = helpButton id="popper">Help</div></br>
            <div id="pop">
                <p>{{question.text}}</p>
            </div>
        </div>
    </div>


    <div><button class = 'buttonPrevNext' id = 'next_button'>Next </button></div>
</div>
{% endblock %}