{% extends "layout.html" %}

{% block content %}
    <script type = "text/javascript">
        let question = {{question|tojson}}
        $(document).ready(function(){
            $("#next_button").click(function(){
            if ("{{question.next_question}}"=="end"){
                window.location.href='/'

            }
            else{
                window.location.href='/quiz/{{question.next_question}}'
            }
            })
        })
    </script>

    {{question.title}}<br>
    <br>
    {{question.text}}

    <button id = "next_button">Next </button>
{% endblock %}